.help-block{
	color: #ff0000 !important;
}

.h4-icon-hover:hover{
	color: #8ab933 !important;
}

.images{
	width: 200px;
	height: 500px;
}

#topMain > li > a{
	font-weight: bold !important;
	font-size: 16px !important;
}
